.Restaurant{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    box-shadow: lightsalmon 2px 2px 5px;
    border: 1px solid tomato;
    border-radius: 0.5rem;
    margin-top: 10px;
}

.NameAndThumbnail{
    font-size: 18px;
    font-weight: bold;
    display: inline-flex;
    /* padding-top: 5px;
    padding-bottom: 5px; */
}

.NameAndThumbnail img{
    height: 30px;
    width: 50px;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
    border: none;
    border-radius: 0.3rem;
    margin-left: 30px;
}

.RestaurantLocation{
    line-height: 15px;
}

.Restaurant:hover{
    transform: scale(1.06);
    transition: 0.3s;
    cursor: pointer;
}

.Name{
    color: black;
}

.Name:visited{
    color: grey;
}
