/* .Footer{
    width: 100%;
    height: 20px;
    display: flex;
    background-color: tomato;
    padding: 10px;
    position: fixed;
    bottom: 0;
}

.Span{
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    margin-left: 50px;
    color: white;
} */

footer{
    display: flex;
    position: relative;
    bottom: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #fff;
    background:  rgb(233, 183, 190);
    justify-content: space-around;
  }
  
  .social{
    width:40%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }