.Form{
    border: none;
    border-radius: 1.5rem;
}

.Login{
    box-sizing: border-box;
    border: 1px solid lightgrey;
    width: 350px;
    height: 100%;
    vertical-align: middle;
    border-radius: 0.7rem;
    color: black;
}

.Guest, .LoginText, .NotRegistered{
    font-weight: bold;
    color: black;
}

.Guest {
    text-align: left;
}

.Guest:hover, .RegisterText:hover{
    cursor: pointer;
}

.RegisterText{
    color: black;
}

.NotRegistered{
    float: right;
    padding: 30px;
    margin-bottom: auto;
    position: relative;;
    margin-top: 30px;
    font-size: 14px;
    color: black;
}

.LoginValidationError{
    color: red;
    margin-top: 5px;
    margin-bottom: 5px;
    justify-self: center;
    padding: 10px;
}