.App {
  text-align: center;
}

.User{
  padding: 10px;
  float: right;
  color: rgb(7, 138, 190);

}

/* .nav{
  display:flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(233, 183, 190);
  color: white;

}

.nav-links{
  width:40%;
  display:flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

/* Home page style
.searchButton{
  background: rgb(233, 183, 190);
  box-shadow: 10;
  color:white;
  
}

.icon-style{
  font-size: 30;
  align-self: center;
}

/* Sign up form 
.signup-form{
  background-color: beige;
}

.component-signup-form{
  align-items: center;
  background-color:#fff;
  border-radius: 10px;
  box-shadow: 0 3px 10px;
  padding:2px;
  margin: 0 auto;
  max-width: 500px;
  overflow: auto;

}
.signup-button{
  box-sizing: border-box;
}
*/
.error-message{
  color: red;
}

input{
  width: 50%;
  height: 50px;
  padding: 20px;
  margin: 20px 0;
  box-sizing: border-box;
  background-color: rgb(240, 240, 240);
}


