.App {
  text-align: center;
}

.nav{
  display:flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(233, 183, 190);
  color: white;

}

.nav-links{
  width:40%;
  display:flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
input{
  width: 30%;
  height: 50px;
  padding: 20px;
  margin: 20px 0;
  box-sizing: border-box;
  border: none;
  background-color: rgba(240, 240, 240);
}
/* Home page style*/
.searchButton{
  display: inline-block;
  background: rgb(233, 183, 190);
  color:white;
  padding:10px 30px;
  cursor: pointer;
  border: none;
  border-radius:5px;
  
}

.icon-style{
  font-size: 30;
  align-self: center;
}
/* List styling */
.resturaunt-list-parent{
  position:relative;
  margin:100px auto 0;
  width: 450px;
  background-color:rgb(233, 183, 190);
  box-sizing: border-box;
  padding: 10px;
  font-family: sans-serif;
  list-style: none;
  
}
ol li{
  display: flex;
  text-align: justify;
  background:rgba(197, 154, 158, 0.4);
  color: #fff;
  padding:10px 20px;
  margin:5px 0;
  transition: 0.5s;
}
ol li:nth-child()
{
  background: rgba(197, 154, 158, 0.1)
  
}
ol li:hover{
  transform: scale(1.06);
  background: rgb(233, 183, 190);
}



/* Sign up form */
.signup-form{
  background-color: beige;
}

.component-signup-form{
  align-items: center;
  background-color:#fff;
  border-radius: 10px;
  box-shadow: 0 3px 10px;
  padding:2px;
  margin: 0 auto;
  max-width: 500px;
  overflow: auto;

}
.signup-button{
  box-sizing: border-box;
 
  
}
.error-message{
  color: red;
}
